@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.page-header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.movie-details {
  display: flex;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;

  &__poster {
    min-width: 18.75rem;
    margin-right: 2rem;
    padding: 1rem;
  }

  &__desciption {
    padding: 1rem;
    padding-right: 3rem;
    margin-bottom: 5rem;

    .header {
      &__title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
  
      small {
        display: inline-block;
        font-size: 1.25rem;
        margin-bottom: 2rem;
      }

      span {
        margin: 0 .5rem;
      }
    }
  
    .main {
      &__plot {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
    }

    .footer {
      display: flex;
      font-size: 1.25rem;

      section:first-child {
        margin-right: 3rem;
      }
    }
  }
}