@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

$gird-gap: 1rem;

.wrapper {
  max-width: 1600px;
  width: 80%;
  margin: 0 auto;

  h1 {
    font-family: 'Metal Mania', cursive;
    font-size: 3rem;
  }

  form {
    width: 60%;
    margin: 0 auto;
  }
}

.navigator {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1rem;
  color: grey;
  margin-bottom: 1rem;

  small {
    display: inline-block;
    padding: .5rem 1rem .35rem 1rem;
    font-size: 2rem;
    cursor: pointer;

    a {
      &:hover {
        color: #FFD700;
      }
    }

    &:hover {
      color: black;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  a { // Link component as a wrapper around .movie-card
    display: block;
    margin: $gird-gap;
    width: calc(100% / 4 - ($gird-gap * 2)); // because margin is from both sides of element
  }

  .movie-card {
    // margin: $gird-gap;
    // width: calc(100% / 4 - ($gird-gap * 2)); // because margin is from both sides of element
    // cursor: pointer;

    .card-image {
      overflow: hidden;
      position: relative;

      .zoom-icon {
        position: absolute;
        top: 60%; // bad position just for an animation
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10rem;
        color: #fff;
        z-index: 100;
        visibility: hidden;
        opacity: 0;
        transition: all .15s ease-in;
      }

      img {
        transition: all .2s ease-in;
      }
    }

    &:hover {
      .zoom-icon {
        top: 50%; // correct position
        opacity: 70%;
        visibility: visible;
      }

      img {
        transform: scale(1.1);
        filter: brightness(50%); // darken an image
      }
    }
  }
}